<div class="listAccount">
  <app-my-datatable
    [account]="account"
    [columns]="columns"
    (mySearch)="search($event)"
    [page]="page"
    [loading]="loading"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (clickEdit)="openEdit($event)"
    (clickDelete)="delete($event)"
    (clickAdd)="openAddAccount()"
    (clsortByAge)="sortByAge()"
  ></app-my-datatable>

  <div class="addEdit" *ngIf="isOpenEditAccount || isOpenAddAccount">
    <div class="addEdit-model"></div>
    <app-my-form
      [selectedAccount]="selectedAccount"
      (clickCloseForm)="closeForm($event)"
      (clickSubmit)="saveOrEdit($event)"
      [isOpenAddAccount]="isOpenAddAccount"
      [isOpenEditAccount]="isOpenEditAccount"
    ></app-my-form>
  </div>
</div>
